form{
    display: inline-block;
    font-family: "arial";
    width: 480px;
    height:320px;
/*    border: 1px solid #176258; */
    padding: 4px 4px 4px 4px; 
    vertical-align: top;
    position:fixed;

    left: 33%;
    top:5px;
}

label{
    display: inline-block;
    float: left;
    clear: left;
    text-align:right;
    width: 125px;
    margin: 8px 0 8px 16px;
    color:#176258;
}

input {
    display: inline-block;
    float: left;
    width: 250px;
    margin: 8px 16px 8px 16px;
    border-radius: 6px;
    border: #176258 solid 1px;
}

#submit{
    position:relative;
    left:50%;
}
p{
    float:right;
}