input[type="submit"] {
    margin:4px 8px 4px 8px;
    color: white;
    font-size: 14px;
    background: #176258;
    padding: 4px 12px 4px 12px;
    border: solid black 1px;
    border-radius: 6px;
    text-decoration: none;    
}

input[type="submit"]:hover {
    background: #2b887c;
}
button {
    margin:4px 8px 4px 8px;
    color: white;
    font-size: 14px;
    background: #176258;
    padding: 4px 12px 4px 12px;
    border: solid black 1px;
    border-radius: 6px;
    text-decoration: none;
    position: absolute;
    bottom: 10%;
    left: 10%;
}

button:hover {
    background: #2b887c;
}
form{
   	position:fixed;
   	height: 21px;
    right: 0;
    left: 0px;
    margin-right: auto;
    margin-left: auto;
    top: 10px;
    margin-bottom: auto;
    margin-top: auto;
    text-align: center;
}
body{
	font-family: "arial";
}
#ins2{
    text-align: center;
}
p{
    color:#176258;
}