input[type=range]{

}

input[type="range"]::-webkit-slider-runnable-track{
    background:#176258;
    height: 10px;
    border-radius: 4px;
}
input[type="range"]:hover::-webkit-slider-runnable-track{
    background:#2b887c;
}
input[type="range"]::-webkit-slider-thumb{
    margin-top:-5px;
    background:#178258;
    height: 10px;
    border-radius: 4px;
}