{% extends "template.html" %} 

{% block head %}
<title>Archives</title>
{%if data == "maps"%}
<script>
  var dates = {{Maps|safe}};
</script>
{%endif%}
<link href="/static/archive.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block body %}
{% if logged %}
{% if data == "empires" %} 
<div>
<a href="/addEmpire"><button id="add">Add Empire</button></a>
<ul>
<li>
<a href="/World/archive" style="margin-left:10px">World</a>
</li>
{% for key in Emps %}
{% if not key == ""%}
<li>
<a href="/removeEmpire/{{key}}" onclick="return confirm('Are you sure you want to remove {{key}}?');" ><button id="remove">X</button>
<a href="/{{key}}/archive">{{key}}</a>
</li>
{% endif %}
{% endfor %}
</ul>
</div>
{% elif data == "maps" %}
<div>
<a href="/addMap/{{emp}}"><button id="add">Add Map</button></a>
<ul>
{% for dict in Maps %}
{% if not dict['date'] == "" %}
<li>
<a href="/removeMap/{{emp}}/{{dict['date']}}" onclick="return confirm('Are you sure you want to remove {{dict['date']}} from {{emp}}?');"><button id="remove">X</button></a>
<a href="/editMap/{{emp}}/{{dict['date']}}/" class="date">{{dict['date']}}</a>
</li>
{% endif %}
{% endfor %}
</ul>
</div>
{% endif %}
<div id="ins">
{%if data == "empires" %}
  <p>
  To add an Empire : Press on the Add Empire button and get started!
  </p>
  <p>
  To edit an Empire : Click on the Empire's Name!
  </p>
{%elif data == "maps"%}
  <p>
  To add maps to the Empire: Press Add Map!
  </p>
  <p>
    To edit a map : Press on the date that corresponds to the map you want to edit!
  </p>
  <p>
    To view a map : Hover over the link!
  </p>
<img src="" id="pic"></img>
{% endif %}
</div>
<script src="../static/archive.js"></script>
{% else %}
<div id="ins2">
<p>You need to log in to view this page</p>
</div>
{% endif %}

{% endblock %}
