{% extends "template.html" %} 

{% block head %}
<title>Archives</title>
<link href="../static/archive.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block body %}
{% if data == "empires" %} 
<a href="/addEmpire"><button id="add">Add Empire</button></a>
{% for key in Emps %}
{% for emp in Emps[key] %}
<div>
<a href="/removeEmpire/{{key}}/{{emp}}"><button id="remove">X</button>
<a href="/{{emp}}/archive">{{emp}}</a>
</div>
{% endfor %}
{% endfor %}

{% elif data == "maps" %}
<a href="/addMap/{{emp}}"><button id="add">Add Map</button></a>
{% for dict in Maps %}
{% for date in dict%}
<div>
<a href="/removeMap/{{emp}}/{{date}}"><button id="remove">X</button></a>
<a href="/editMap/{{date}}/{{emp}}">{{date}}</a>
{% endfor %}
{% endfor %}
{% endif %}
</div>
<script src="static/archive.js"></script>
{% endblock %}
