<!DOCTYPE html>
<html>
  <head>
    <title>Changing Password</title>
    <link rel="stylesheet" type="text/css" href="../static/login.css">
  </head>
  <body>
    <form method = "POST">
      <br>
      Old Password: <input type = "password" name = "old" placeholder = "Old_Password"></input>
      <br>
      New Password: <input type = "password" name = "new" placeholder = "New_Password"></input>
      <br>
      <input type="submit" name ="button" value="Change"></input>
    </form>
  </body>
</html>
