{% extends "template.html" %}
{% block head %}
<title>Data</title>
<link href="/static/data.css" type="text/css" rel="stylesheet">
{% endblock head %}}

{% block body %}

{% if logged %}

<form method = "POST" enctype="multipart/form-data">
{% if data == "date" %}
  <label>
    New Date:
  </label>
  <input type="text" id="newDate" name="newDate">
  <label>
    New Link:
  </label>
  <input type="text" id="newLink" name="newLink">
    <label>
    New Tagline:
  </label>
  <input type="text" id="newTag" name="newTag">
  <label>
    Upload Map:
  </label>
  <input type="file" name="file" id="file"> 
  {% elif data == "maps"%}
  <label>
    From:
  </label>
  <input type="text" id="start" name ="start">
  <label>
    To:
  </label>
  <input type="text" id="end" name ="end">
  <label>
    Tagline:
  </label>
  <input type="text" id="tag" name = "tag">
  <label>
    Link to Map:
  </label>
  <input type="text" id="link" name = "link">
    <label>
    Upload Map:
  </label>
  <input type="file" name="file" id="file">

  {% elif data == "empires" %}
  <label>
    Empire Name:
  </label>
  <input type="text" id="empire" name="empire">
  <label>
    From:
  </label>
  <input type="text" id="start" name ="start">
  <label>
    To:
  </label>
  <input type="text" id="end" name="end">
  <label>
    Tagline:
  </label>
  <input type="text" id="tag" name="tag">
  <label>
    Link to Map:
  </label>
  <input type="text" id="link" name="link">
  <label>
    Upload Map:
  </label>
  <input type="file" name="file" id="file"> 
{%endif%}
  <button id="submit"> Submit</button>
</form>
    <p>Dates in BC or BCE should be negative</p>
{% else %}
<div id="ins2">
<p>You need to log in to view this page.</p>
</div>
{%endif%}
<!--<script src="data.js"></script>-->
{% endblock %}
