{% extends "template.html" %} 
{% block head %}
<title>Map of {{empire}}</title>
{% endblock %}

{% block body %}
<div style="text-align:center;">
	<h1>Timeline Map For {{empire}}</h1>
<img id="map" style="width:350px; height:350px;">
<br>
<label>Empire: </label>
<label id="empireLabel"></label>
<form>
	<input type="range" id="slider" min="0" max="1000">
</form>
	<label for="slider">Date: </label>
	<label for="slider" id="dateLabel"></label>
</div>
<script type="text/javascript" src="static/NotHome.js"></script>
{% endblock %}