{% extends "template.html" %} 
{% block head %}
<title>Map of {{empire}}</title>
<script>
  var maps = '{{link}}';
  var dates = '{{date}}';
</script>
{% endblock %}

{% block body %}
<img id="map" style="width:350px; height:350px;">
<form>
	<input type="range" id="slider" min="0">
</form>
	<label for="slider">Date: </label>
	<label for="slider" id="dateLabel"></label>
	<br>
	<input type="button" id="transition" value="Transitioning: Off">
<script type="text/javascript" src="../static/map.js"></script>
{% endblock %}
