{% extends "template.html" %} 
{% block head %}
<title>Map of {{empire}}</title>
<link href="../static/map.css" type="text/css" rel="stylesheet">
<script>
  var maps = '{{link}}';
  var dates = '{{date}}';
</script>
{% endblock %}

{% block body %}
<div id="container">
  <h1>Timeline of {{empire}}</h1>
  <img id="map" style="width:350px; height:350px;">

  <p>Date: </p>
  <p id="dateLabel"></p>

<form>
	<input type="range" id="slider" min="0">
</form>
	<br>
	<input type="button" id="transition" value="Transitioning: Off">
</div>
<script type="text/javascript" src="../static/map.js"></script>
{% endblock %}
